{% extends 'main.html' %}

{% block title %}
    Imageserve - Viewing {{ ms_title }}
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/diva.min.css" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/diva.min.js"></script>
    <script type="text/javascript">
    {% if witnesses %}
        var currWit = {{curr_wit}};
        var apiFunc = function (url) {
            func = function (kwargs, callback) {
                $.ajax({
                    url: url,
                    context: document.body,
                    data: kwargs,
                    beforeSend: function (xhr) {
                        xhr.overrideMimeType("text/json");
                    },
                }).done(function (data, textStatus, jqXHR) {
                    callback(data);
                });
            };
            return func;
        }
        var pageForWit = apiFunc("/page_for_wit");
        var witForPage = apiFunc("/wit_for_page");
        {% if perms.manuscript.can_change %}
            var editMode = false;
            var setFolio = apiFunc("/set_folio");
            var interpolateAfter = apiFunc("/interpolate_after");
            var saveFolios = apiFunc("/save_folios");
            var removeFolios = apiFunc("/remove_folios");
            var discardChanges = apiFunc("/discard_changes");
        {% endif %}

        var updateWitness = function (nextWit) {
            $("#w" + String(currWit))
                .css({'background-color': '#ffffff'});
            currWit = nextWit;
            $("#w" + String(currWit))
                .css({'background-color': '#f5f5f5'});
        };
    {% endif %}
    $(document).ready(function () {
        $("#diva-wrapper").diva({
            enableAutoHeight: true,
            enableAutoTitle: false,
            enableGotoPage: true,
            fixedHeightGrid: false,
            contained: true,
            iipServerURL: "{{ iipserver_url }}",
            divaserveURL: "{{ divaserve_url }}",
            imageRoot: "{{ image_root }}",
            imageDir: "{{ ms_name }}",
            {% if witnesses %}
                onScroll: function (newPageIndex) {
                    var currPage = this.getCurrentPage() + 1;
                    witForPage({'ms_id':{{ms_id}},
                                'page': currPage},
                                function (data) {
                                    if (currWit != data[1]) {
                                        updateWitness(data[1]);
                                    }
                                    $("#curr-folio").html(data[0]);
                                });
                },
            {% endif %}
        });
        var dv = $("#diva-wrapper").data("diva");
        {% if witnesses %}
            $("#diva-wrapper").one("ajaxComplete", function () {
                if (currWit == -1) {
                    var currPage = dv.getCurrentPage() + 1;
                    witForPage({'ms_id':{{ms_id}},
                                'page': currPage},
                                function (data) {
                                    if (currWit != data[1]) {
                                        updateWitness(data[1]);
                                    }
                                    $("#curr-folio").html(data[0]);
                                });
                } else {
                    updateWitness(currWit);
                    pageForWit({'ms_id': {{ms_id}}, 'wit': currWit},
                               function (data) {
                                   if (data != -1)
                                   dv.gotoPageByNumber(data);
                               });
                }
                $("#1-diva-goto-page").submit( function () {
                    input = $("#1-diva-goto-page-input").val();
                    $.ajax({
                        url: '/page_for_folio',
                        async: false,
                        context: document.body,
                        data: {'ms_id': {{ms_id}},
                               'folio': input},
                        timeout: 3000,
                        success: function (data, statusText, xhr, $form) {
                            if (data != null) {
                                if (1 <= data && data <= {{num_files}}) {
                                    dv.gotoPageByNumber(data);
                                    return;
                                }
                            }
                            alert("Invalid page or folio number");
                        }
                    });
                });
            });
            $("#md-button").click( function () {
                    var url = '/metadata?id=' + {{ ismi_id }};
                    window.open(url, "_blank");
                }
            );
            $("tr.witness .btn").click( function () {
                    var wit = $(this).parentsUntil(".witness").parent().attr('id');
                    wit = wit.substring(1);
                    var url = '/metadata?id=' + wit;
                    window.open(url, "_blank");
                }
            );
            $("tr.witness .goto-wit").click( function () {
                    var wit = $(this).parentsUntil(".witness").parent().attr('id');
                    wit = wit.substring(1);
                    updateWitness(wit);
                    pageForWit({'ms_id': {{ms_id}}, 'wit': currWit},
                               function (data) {
                                   dv.gotoPageByNumber(data);
                               });
                }
            );
            {% if perms.manuscript.can_change %}
                $("#edit-folio-nums").click( function () {
                    if (editMode) {
                        discardChanges({'ms_id':{{ms_id}}}, function () {
                            var currPage = dv.getCurrentPage() + 1;
                            witForPage({'ms_id':{{ms_id}},
                                        'page': currPage},
                                        function (data) {
                                            if (currWit != data[1]) {
                                                updateWitness(data[1]);
                                            }
                                            $("#curr-folio").html(data[0]);
                                        });
                        });
                        $("#edit-folio-nums").html(
                            'Edit Folio Numbers'
                        );
                        $("#folio-tools").remove();
                        $("#remove-folios").remove();
                        $("#dt-interpolate").remove();
                        $("#dd-overwrite").remove();
                        $("#interpolate").remove();
                        $("#save").remove();
                        editMode = false;
                    } else {
                        $("#edit-folio-nums").html(
                            'Stop Editing (Discard Changes)'
                        );
                        $("#witness-tools").append(
                            $("<dd>", {id: 'folio-tools'}).append(
                                $("<div>").append(
                                    $("<input>", {id: 'folio-num'})
                                    .attr({
                                        'type': 'text',
                                        'size': '4',
                                        'maxlength': '4'
                                    }),
                                    $("<select>", {id: 'folio-select'}).append(
                                        $("<option>").attr({'value': 'a'}).append(
                                            document.createTextNode('a')
                                        ),
                                        $("<option>").attr({'value': 'b'}).append(
                                            document.createTextNode('b')
                                        )
                                    ),
                                    $("<a>", {id: 'btn-set'}).attr({
                                        'role': 'button',
                                        'class': 'btn'
                                    }).append(
                                        document.createTextNode(
                                            'Set Folio Number'
                                        )
                                    )
                                )
                            ),
                            $("<dd>", {id: 'remove-folios'}).append(
                                $("<a>", {id: 'btn-remove-folios'}).attr({
                                    'role': 'button',
                                    'class': 'btn'
                                }).append(
                                    document.createTextNode(
                                        'Remove Folio Numbers'
                                    )
                                )
                            ),
                            $("<dt>", {id: 'dt-interpolate'}).append(
                                document.createTextNode(
                                    'Interpolate Folio Numbers'
                                )
                            ),
                            $("<dd>", {id: 'dd-overwrite'}).append(
                                document.createTextNode(
                                    'Overwrite consequent folio numbers?'
                                ),
                                $("<input>", {id: 'overwrite'}).attr({
                                    'type': 'checkbox'
                                })
                            ),
                            $("<dd>", {id: 'interpolate'}).append(
                                $("<a>", {id: 'btn-interpolate'}).attr({
                                    'role': 'button',
                                    'class': 'btn'
                                }).append(
                                    document.createTextNode(
                                        'Interpolate after'
                                    )
                                )
                            ),
                            $("<dt>", {id: 'save'}).append(
                                $("<a>", {id: 'btn-save'}).attr({
                                    'role': 'button',
                                    'class': 'btn'
                                }).append(
                                    document.createTextNode(
                                        'Save Changes'
                                    )
                                )
                            )
                        );
                        $("#btn-set").click( function () {
                            var currPage = dv.getCurrentPage() + 1;
                            var val = $("#folio-num").val() + $("#folio-select").val();
                            setFolio({'ms_id': {{ms_id}}, 'page': currPage, 'folio': val},
                                function (data) {
                                    $("#curr-folio").html(data);
                                }
                            );
                        });
                        $("#btn-interpolate").click( function () {
                            var currPage = dv.getCurrentPage() + 1;
                            var overwrite = Number($("#overwrite").prop('checked'));
                            interpolateAfter({'ms_id': {{ms_id}},
                                              'page': currPage,
                                              'overwrite': overwrite},
                                             function () {});
                            $("#overwrite").prop('checked', false);
                        });
                        $("#btn-save").click( function () {
                            saveFolios({'ms_id': {{ms_id}}}, function (data) {
                                alert(data);
                            });
                        });
                        $("#btn-remove-folios").click( function () {
                            var currPage = dv.getCurrentPage() + 1;
                            removeFolios(
                                {'ms_id': {{ms_id}}, 'page': currPage},
                                function (data) {
                                    $("#curr-folio").html(data);
                                }
                            );
                        })
                        editMode = true;
                    }
                });
            {% endif %}
        {% endif %}
    });
    </script>
{% endblock %}

{% block wrap %}
<div class="row-fluid">
    <div class="span3">
        {% if ismi_data %}
            {% if witnesses %}
                <h3 id="ms-title">{{ ms_title }}</h3>
                <dl id="witness-tools">
                    <dd>
                        <a href="#" role="button" class="btn" id="md-button">
                            Show Codex Info
                        </a>
                    </dd>
                    <dt>Titles in this Codex</dt>
                    <dd>
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <th>Title</th>
                                <th>Folios</th>
                            </tr>
                            {% for i,title,folios in titles %}
                                <tr id="w{{i}}" class="witness">
                                    <td>
                                        <a href="#" class="goto-wit">{{ title }}</a>
                                        <br />
                                        <a href="#" role="button" class="btn">
                                            Show Metadata
                                        </a>
                                    </td>
                                    <td>{{ folios }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </dd>
                    <dd>Current Folio: <strong id="curr-folio"></strong></dd>
                    {% if perms.manuscript.can_change %}
                        <dt><a href="#" id="edit-folio-nums">Edit Folio Numbers</a></dt>
                    {% endif %}
                </dl>
            {% else %}
                <h3>
                    The ISMI data for this codex contains no witnesses.
                </h3>
            {% endif %}
        {% else %}
            <h3>No ISMI ID has been chosen for this codex.</h3>
            {% if perms.manuscript.can_change %}
                <h3>
                    <a href="/admin/imageserve/manuscript/{{ms_id}}">
                        Click to choose an ISMI ID for this codex now.
                    </a>
                </h3>
            {% endif %}
        {% endif %}
    </div>
    <div class="span9">
    <div id="diva-wrapper"></div>
    </div>
<div>
{% endblock %}

{% block modal %}

{% endblock %}
