{% extends 'main.html' %}

{% block title %}
    Imageserve - Viewing {{ms_name}}
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/diva.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />

    <script src="{{ STATIC_URL }}js/diva.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#diva-wrapper').diva({
            enableAutoHeight: true,
            enableAutoTitle: true,
            fixedHeightGrid: false,
            iipServerURL: "localhost:8080/fcgi-bin/iipsrv.fcgi?FIF={{image_path}}/",
            divaserveURL: "/divaserve",
            imageDir: "{{ms_name}}",
            // canvasPlugin: {
            //     proxyURL: 'canvas'
            // }
        });
        var dv = $('#diva-wrapper').data('diva');
        $('#diva-wrapper').ajaxComplete(function(event, xhr, options) {
            $('#1-diva-tools-right').prepend('<div id="metadata-button" style="float:left"><a href="#myModal" role="button" class="btn" data-toggle="modal">Metadata</a></div>');
            $('#1-diva-title').html('{{title|safe}}');
        });
    });
    </script>
{% endblock %}

{% block wrap %}
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Metadata for {{ms_name}}</h3>
      </div>
      <div class="modal-body">
        {{md|safe}}
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <div id="diva-wrapper"></div>
{% endblock %}