{% extends 'main.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/diva.min.css" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/diva.min.js"></script>

    <script type="text/javascript">
    {% if witnesses %}
        var editMode = false;
        var currWit = {{curr_wit}};
        var apiFunc = function (url) {
            func = function (kwargs, callback) {
                $.ajax({
                    url: url,
                    context: document.body,
                    data: kwargs,
                    beforeSend: function (xhr) {
                        xhr.overrideMimeType("text/json");
                    },
                }).done(function (data, textStatus, jqXHR) {
                    callback(data);
                });
            };
            return func;
        }
        var pageForWit = apiFunc("/page_for_wit");
        var witForPage = apiFunc("/wit_for_page");
        var idForWit = apiFunc("/id_for_wit");

        var updateWitness = function (nextWit) {
            currWit = nextWit;
            // $("#myModalBody").html("Loading Metadata...");
            $("#witness-title").html("Loading Witness Title...");
            $("#witness-author").html("Loading Witness Author...");
            if (nextWit != -1) {
                $("#title-select").val(nextWit);
                idForWit({'ms_id': {{ms_id}}, 'wit': nextWit},
                    function (witId) {
                        $.ajax({
                            url: '/title_author',
                            context: document.body,
                            data: {'wit_id': witId},
                            beforeSend: function (xhr) {
                                xhr.overrideMimeType("text/json");
                            },
                        }).done(function (data, textStatus, jqXHR) {
                            $("#witness-title").html(data['title']);
                            $("#witness-author").html(data['author']);
                        });
                    }
                )
            } else {
                // $("#myModalBody").html(
                //     "No witness has been identified for this page."
                // );
                $("#witness-title").html(
                    "No witness has been identified for this page."
                );
                $("#witness-author").html("");
            }
        };
    {% endif %}
    $(document).ready(function () {
        $("#diva-wrapper").diva({
            enableAutoHeight: true,
            enableAutoTitle: false,
            enableGotoPage: true,
            fixedHeightGrid: false,
            contained: true,
            iipServerURL: "http://localhost:8080/fcgi-bin/iipsrv.fcgi?FIF={{image_path}}/",
            divaserveURL: "http://localhost:8000/divaserve",
            imageDir: "{{ms_name}}",
            {% if witnesses %}
                onScroll: function (newPageIndex) {
                    if (!editMode) {
                        var currPage = this.getCurrentPage() + 1;
                        witForPage({'ms_id':{{ms_id}},
                                    'page': currPage},
                                    function (data) {
                                        if (currWit != data)
                                        updateWitness(data);
                                    });
                    }
                },
            {% endif %}
        });
        var dv = $("#diva-wrapper").data("diva");
        {% if witnesses %}
            var toggleEditMode = function () {
                if (editMode) {
                    editMode = false;
                    $("#edit-pages").html("Edit page numbers");
                    $("#page-tools").remove();
                    $("#first-page-dd").remove();
                    $("#last-page-dd").remove();
                    $("#save-pages-dd").remove();
                } else {
                    editMode = true;
                    $("#edit-pages").html("Stop editing");
                    $("#witness-tools").append(
                        $("<dt>", {id: "page-tools"})
                        .append(document.createTextNode("Page Editing Tools:")),
                        $("<dd>", {id: "first-page-dd"})
                        .append(
                            $("<a>", {id: "goto-first-page"})
                            .attr({"href": "#",
                                   "role": "button",
                                   "class":"btn"})
                            .append(document.createTextNode(
                                "Go to first page"
                            )),
                            $("<a>", {id: "set-first-page"})
                            .attr({"href": "#",
                                   "role": "button",
                                   "class":"btn"})
                            .append(document.createTextNode("Set first page"))
                        ),
                        $("<dd>", {id: "last-page-dd"})
                        .append(
                            $("<a>", {id: "goto-last-page"})
                            .attr({"href": "#",
                                   "role": "button",
                                   "class":"btn"})
                            .append(document.createTextNode("Go to last page")),
                            $("<a>", {id: "set-last-page"})
                            .attr({"href": "#",
                                   "role": "button",
                                   "class":"btn"})
                            .append(document.createTextNode("Set last page"))
                        ),
                        $("<dd>", {id: "save-pages-dd"})
                        .append(
                            $("<a>", {id: "save-pages"})
                            .attr({"href": "#",
                                   "role": "button",
                                   "class":"btn"})
                            .append(document.createTextNode("Save pages"))
                        )
                    );
                    $("#goto-first-page").click( function () {
                        pageForWit({'ms_id': {{ms_id}}, 'wit': currWit},
                                   function (data) {
                                       dv.gotoPageByNumber(data);
                                   });
                    });
                    $("#goto-last-page").click( function () {
                        pageForWit({'ms_id': {{ms_id}},
                                    'wit': currWit,
                                    'last': true},
                                   function (data) {
                                       dv.gotoPageByNumber(data);
                                   });
                    });
                    $("#set-first-page").click( function () {
                        apiFunc('/set_page/first')(
                            {'ms_id': {{ms_id}},
                             'wit': currWit,
                             'page': dv.getCurrentPage() + 1},
                            function () {}
                        );
                    });
                    $("#set-last-page").click( function () {
                        apiFunc('/set_page/last')(
                            {'ms_id': {{ms_id}},
                             'wit': currWit,
                             'page': dv.getCurrentPage() + 1},
                            function () {}
                        );
                    });
                    $("#save-pages").click( function () {
                        apiFunc('/save_pages')(
                            {'ms_id': {{ms_id}}},
                            function (data) {
                                if (!data['success']) {
                                    alert(data['error']);
                                } else {
                                    alert("Changes successfully saved.");
                                }
                            }
                        );
                    })
                }
            };
            $("#diva-wrapper").one("ajaxComplete", function () {
                updateWitness(currWit);
                pageForWit({'ms_id': {{ms_id}}, 'wit': currWit},
                           function (data) {
                               dv.gotoPageByNumber(data);
                           });
                $("#title-select").change(function () {
                    var val = $("#title-select").val();
                    updateWitness(val);
                    if (!editMode) {
                        pageForWit({'ms_id': {{ms_id}}, 'wit': currWit},
                                   function (data) {
                                       dv.gotoPageByNumber(data);
                                   });
                    }
                });
                $("#edit-pages").click(toggleEditMode);
            });
            $("#md-button").click( function () {
                    idForWit({'ms_id': {{ms_id}}, 'wit': currWit},
                        function (witId) {
                            window.open('/metadata?wit_id=' + String(witId)
                                        + '&ms_name={{ms_name}}', "_blank")
                        }
                    );
                }
            );
        {% endif %}
    });
    </script>
{% endblock %}

{% block navbar %}
    {% if perms.manuscript.can_change %}
        <li><a href="#" id="edit-pages">Edit page numbers</a></li>
    {% endif %}
{% endblock %}

{% block wrap %}
<div class="row-fluid">
    <div class="span3">
        {% if ismi_data %}
            {% if witnesses %}
                <h3 id="witness-title">Witness Title</h3>
                <h4 id="witness-author">Witness Author</h4>
                <dl id="witness-tools">
                    <dt>Titles in this Codex</dt>
                    <dd>
                        <select id="title-select">
                            {% for i,title in titles %}
                            <option value={{i}}>{{title}}</option>
                            {% endfor %}
                        </select>
                        <a href="#" role="button" class="btn" id="md-button">
                            Show Witness Info
                        </a>
                    </dd>
                </dl>
            {% else %}
                <h3>
                    The ISMI data for this codex contains no witnesses.
                </h3>
            {% endif %}
        {% else %}
            <h3>No ISMI ID has been chosen for this codex.</h3>
            {% if perms.manuscript.can_change %}
                <h3>
                    <a href="/admin/imageserve/manuscript/{{ms_id}}">
                        Click to choose an ISMI ID for this codex now.
                    </a>
                </h3>
            {% endif %}
        {% endif %}
    </div>
    <div class="span9">
    <div id="diva-wrapper"></div>
    </div>
<div>
{% endblock %}

{% block modal %}

{% endblock %}