{% extends 'main.html' %}

{% block wrap %}
<div class="container">
    <h1>Available Manuscripts</h1>
    <table class="table table-striped">
        <tr>
            <th>Codex</th>
            <th>Title</th>
            <th>Author</th>
            <th>Number of Pages</th>
        </tr>
    {% for m in manuscripts %}
        <tr>
            <td><a href="/codex/{{m.id}}">{{ m.directory }}</a></td>
            <td>{{ m.title }}</td>
            <td>{{ m.author }}</td>
            <td>{{ m.num_files }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}