{% extends 'main.html' %}
{% load rest_framework %}
{% load filter_methods %}

{% block title %}
    Imageserve - Viewing {{ ms_title }}
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/diva.min.css" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/diva.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/canvas.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/download.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/highlight.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#page-jump').on('keypress', function(ev)
            {
                if (ev.which == '13')
                {
                    var dv = $('#diva-wrapper').data('diva');
                    var value = $(this).val();
                    var success = dv.gotoPageByNumber(value);

                    if (!success)
                    {
                        if (!$('#page-jump-group').hasClass('error'))
                        {
                            $('#page-jump-group').addClass('error');
                            $('#page-jump-controls').append('<span id="jump-error-help" class="help-inline">The page you specified is not valid.</span>');
                        }
                    }
                    else
                    {
                        if ($('#page-jump-group').hasClass('error'))
                        {
                            $('#page-jump-group').removeClass('error');
                            $('#jump-error-help').remove();
                        }
                    }

                }
            });

            $('.go-to-witness-link').on('click', function(ev) {
                var dv = $('#diva-wrapper').data('diva');
                var start_page = $(this).data('start');
                dv.gotoPageByNumber(start_page);

                ev.preventDefault();
            });

            $("#witness-edit").on('click', '.set-start-image-btn', function(ev)
            {
                var dv = $('#diva-wrapper').data('diva');
                var witness = $(this).data('witness');
                var page = dv.getCurrentPageNumber();

                var startSetCallback = function(data, caller)
                {
                    var parent = caller.parent();
                    var el = $("<span>" + data.start_page + "(<a href='#' class='remove-start-image' data-witness='" + data.ismi_id + "'>X</a>)</span>");
                    caller.remove();
                    parent.append(el);
                }

                modifyWitness(witness, 'start_page', page, startSetCallback, $(this));
            });

            $("#witness-edit").on('click', '.set-end-image-btn', function(ev)
            {
                var dv = $('#diva-wrapper').data('diva');
                var witness = $(this).data('witness');
                var page = dv.getCurrentPageNumber();

                var endSetCallback = function(data, caller)
                {
                    var parent = caller.parent();
                    var el = $("<span>" + data.end_page + "(<a href='#' class='remove-end-image' data-witness='" + data.ismi_id + "'>X</a>)</span>");
                    caller.remove();
                    parent.append(el);
                }

                modifyWitness(witness, 'end_page', page, endSetCallback, $(this));
            });

            $("#witness-edit").on('click', '.remove-start-image', function(ev)
            {
                var witness = $(this).data('witness');
                var startRemoveCallback = function(data, caller)
                {
                    var parentTd = caller.parent().parent();
                    var parent = caller.parent();
                    var el = $("<button class='btn set-start-image-btn' data-witness='" + data.ismi_id + "'>Set Start Image</button>");
                    parent.remove();
                    parentTd.append(el);
                }

                modifyWitness(witness, 'start_page', null, startRemoveCallback, $(this));
            });

            $("#witness-edit").on('click', '.remove-end-image', function(ev)
            {
                var witness = $(this).data('witness');

                var endRemoveCallback = function(data, caller)
                {
                    var parentTd = caller.parent().parent();
                    var parent = caller.parent();
                    var el = $("<button class='btn set-end-image-btn' data-witness='" + data.ismi_id + "'>Set End Image</button>");
                    parent.remove();
                    parentTd.append(el);
                }

                modifyWitness(witness, 'end_page', null, endRemoveCallback, $(this));
            });

            $("#test-highlight").on('click', function(ev)
            {
                var dv = $("#diva-wrapper").data('diva');
                dv.highlightOnPage('foo', 'bar', 'baz');
            });

            function modifyWitness(witness_id, key, value, successCallback, caller) {
                var csrf = $("[name=csrfmiddlewaretoken]").val();
                var witnessURL = "/witness/" + witness_id;
                var data = {};
                data[key] = value;

                $.ajax(witnessURL, {
                    type: 'PATCH',
                    headers: {
                        'X-CSRFToken': csrf
                    },
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function(data, status, xhr)
                    {
                        // we'll need to operate on the button, so pass it back...
                        successCallback(data, caller);
                    }
                });
            }

            function handlePageSwitch(idx, fn, divid)
            {
                // page number is what we're after, which is always
                // page index + 1.
                $('#current-page-idx').text(idx + 1);
                $('#current-page-fn').text(fn);
            }

            function handleDocumentLoaded(idx, fn)
            {
                console.log("Page loaded idx: " + idx);
                console.log("Page loaded fn: " + fn);
            }

            $("#diva-wrapper").diva(
            {
                enableAutoHeight: true,
                enableAutoTitle: false,
                enableGotoPage: false,
                fixedHeightGrid: false,
                contained: true,
                iipServerURL: "{{ IIPSERVER_URL }}",
                divaserveURL: "{{ DIVASERVE_URL }}",
                imageRoot: "{{ IMG_DIR }}",
                imageDir: "{{ content.ms_name }}",

                onSetCurrentPage: handlePageSwitch,
                onDocumentLoaded: handleDocumentLoaded
            });


        });
    </script>
{% endblock %}

{% block wrap %}

<div class="row-fluid">
    <div class="span4">
        <div style="height: 800px; overflow:scroll;">
        {% if content.ismi_id %}
            <h3 id="ms-title">{{ content.ms_name }}</h3>
            {% if content.has_known_witnesses %}
            <h4>Titles in this Codex</h4>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Folios</th>
                    </tr>
                </thead>
                <tbody>
                    {% for witness in content.witnesses %}
                        {% if witness.known %}
                            {% for t in witness.texts %}
                                <tr>
                                    <td>{{ t.name }}</td>
                                    <td><a class="go-to-witness-link" href="#" data-start="{{ witness.start_page }}">{{ witness.folios }}</a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}


            {% if content.has_unknown_witnesses %}
            <h4>Unknown titles in this Codex</h4>
            <p>
                {% for witness in content.witnesses %}
                    {% if not witness.known %}
                        <span><a href="#" class="go-to-witness-link" data-start="{{ witness.start_page }}">{{ witness.folios }} </a></span>
                    {% endif %}
                {% endfor %}
            </p>
            {% endif %}

            <hr />

            {% if perms.imageserve.change_manuscript %}

            {% csrf_token %}
            <h4>Edit Folio/Image Correspondence</h4>
            <div id="page-jump-group" class="control-group">
                <label for="page-jump" class="control-label">Go to page: </label>
                <div class="controls" id="page-jump-controls">
                    <input id="page-jump" type="text" class="form-control">
                </div>
            </div>

            <div>
                <p><strong>Current Page Index:</strong> <span id="current-page-idx"></span></p>
                <p><strong>Page Filename:</strong> <span id="current-page-fn"></span></p>
            </div>
            <table id="witness-edit" class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Start</th>
                        <th>End</th>
                    </tr>
                </thead>
                <tbody>
                    {% for witness in content.witnesses %}
                        <tr>
                            <td>{{ witness.name }}: {{ witness.folios }}</td>
                            <td>
                                {% if not witness.start_page %}
                                    <button class="btn set-start-image-btn" data-witness="{{ witness.ismi_id }}">Set Start Image</button>
                                {% else %}
                                    <span>{{ witness.start_page }}(<a href="#" class="remove-start-image" data-witness="{{ witness.ismi_id }}">X</a>)</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if not witness.end_page %}
                                    <button class="btn set-end-image-btn" data-witness="{{ witness.ismi_id }}">Set End Image</button>
                                {% else %}
                                    <span>{{ witness.end_page }}(<a href="#" class="remove-end-image" data-witness="{{ witness.ismi_id }}">X</a>)</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        {% else %}
            <p>No ISMI ID has been chosen for this codex.</p>
            {% if perms.manuscript.can_change %}
                <p>
                    <a href="/admin/imageserve/manuscript/{{ms_id}}">
                        Click to choose an ISMI ID for this codex now.
                    </a>
                </p>
            {% endif %}
        {% endif %}
    </div>
    </div>
    <div class="span8">
        <div id="diva-wrapper"></div>
    </div>
<div>
{% endblock %}

{% block modal %}

{% endblock %}
